body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #B3E5FC;
    background-color: #
}

#header {
    background-color: #C1121F;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu a {
    color: white;
    text-decoration: underline;
    margin: 0 30px;
    font-size: 20px;
}

#pesquisa {
    background-color: white;
    border-radius: 20px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

#pesquisa input {
    border: none;
    outline: none;
    width: 200px;
}

#pesquisa button {
    background: none;
    border: none;
}

#pesquisa button:hover {
    cursor: pointer;
}

#main {
    padding: 20px 10%;
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 35px;
    margin-bottom: 30px;
}

#carrosel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    justify-content: space-between;
}

#carrosel-item {
    position: relative;
    width: 250px;
    height: 100%;
}

#carrosel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#carrosel-item span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.9vw;
    text-shadow: 3px 3px 3px rgba(0, 0, 255, 0.8);
}

#destino {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: center;
}

#destino img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

#info h2 {
    margin: 0;
    font-weight: normal;
    font-size: 26px;
}

#info p {
    margin: 5px 0;
    color: #666;
}

#preco {
    color: #6a5acd;
    font-weight: bold;
}

#footer {
    background-color: #C1121F;
    color: white;
    padding: 40px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    font-size: 16px;
}

#footer h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

#footer ul {
    list-style: none;
    padding: 0;
}

#footer ul li {
    margin-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
}

#copyright {
    font-size: 12px;
    margin-top: 20px;
}
